[submodule "third_party/CrispASR"]
	path = third_party/CrispASR
	url = https://github.com/CrispStrobe/CrispASR.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
